* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;  /*reset*/
  }
.game-board 
{
  width : 80%;
  height : 500px;
  border: 1px solid #333; /*borda*/
  margin : 0 auto;
  position : relative;
}

.fence {
position : absolute ;
bottom : 0 ;
width: 30px ;

}